/* homework.css */
*{
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: serif;
  background: #fff;
}

.page{
  border: 4px solid #3f44c7;
  padding: 6px;
  height: 100vh;
}

.hdr,
.ftr,
.left,
.main,
.right{
  border: 2px solid #3f44c7;
  background: #fff;
  padding: 6px;
}

.hdr{
  height: 110px;
}

.ftr{
  height: 60px;
  margin-top: 6px;
}

.mid{
  display: flex;
  gap: 6px;
  height: calc(100vh - 110px - 60px - 6px - 12px);
}

.left,
.right{
  width: 120px;
}

.main{
  flex: 1;
}
