
    body{font-family: Georgia, 'Times New Roman', Times, serif;
        font-size:15px;
        color:white;
        background-color: gray;
    }

li{font-weight: normal;
    text-decoration: none;}

    h4{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        font-size: 30px;}

    .bold{font-weight: bold;}

    
    .justify{text-align: justify;}

.indexbg{background-image: url('../Images/ocean.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 170%;
}

.under{text-decoration: underline;
    font-weight: bolder;
    }